/* цвет основного текста #212121 */
/* цвет адреса #757575 */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA; */
/* цвет банера и футера #2F303A */

/*outline: 1px solid teal;*/

:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --adres-color: #757575;
    --secondary-bg-color: #f5f5f5;}
    
/* Утиилиты */

*, ::after, ::before {
    box-sizing: border-boxf;
}

h1,h2,h3,h4,h4,h5,h6 {
    margin: 0;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Logo */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;

    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logos {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
}

.logo-link{
    text-decoration: none;
    margin-right: 90px;
}

.logo:hover {
    color: var(--accent-color);
}


/* Site nav */

.site-nav {
    display: flex;
}

.site-nav .item+.item {
    margin-left: 50px;
}


.site-nav .link {

    color: var(--title-text-color);

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    }


.site-nav .link:hover{
   color: var(--accent-color);
        }

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
    
/* Auth nav */

.auth-nav {
    display: flex;
    margin-left: auto;
}
    
.auth-nav .item+.item {
    margin-left: 50px;
            }

.link-adres{
    color: var(--title-text-color);
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.auth-nav .link-adres{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.link-adres:hover {
    color: var(--accent-color);
}

/*HERO Bunner*/

.hero{
    text-align: center;
    height: 600px;
    background-color:var(--title-text-color);
}

.bunner {
    margin: 0;
}

.herotitle {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--primary-white-color);

    padding-top: 200px;
    padding-bottom: 40px;
}

/* Button */

.button {
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    display: inline-block;
    text-decoration: none;

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.button:hover {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}

/*Герои*/

.section-title {
    margin-top: 94px;
}

.future-list {
    display: flex;
}

.zagolovok {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color) ;
}

.abzac {
    margin-top: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--adres-color);
}

.future-list > .item {
    flex-basis: calc(100% / 4);
    margin-right: 30px;
    margin-bottom: 94px;

}

.future-list>.item:last-child {
    margin-right: 0;
}