/* цвет основного текста #212121 */
/* цвет адреса #757575 */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA; */
/* цвет банера и футера #2F303A */

:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --adres-color: #757575;
    --secondary-bg-color: #f5f5f5;}
    
/* Утиилиты */

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Logo */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
}

.logos {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
}

.logo-link{
    text-decoration: none;
    margin-right: 90px;
}

.logo:hover {
    color: var(--accent-color);
}


/* Site nav */

.site-nav {
    display: flex;
}

.site-nav .item+.item {
    margin-left: 50px;
}


.site-nav .link {

    color: var(--title-text-color);

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    }


.site-nav .link:hover{
   color: var(--accent-color);
        }

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
    
/* Auth nav */

.auth-nav {
    display: flex;
    margin-left: auto;
}
    
.auth-nav .item+.item {
    margin-left: 50px;
            }

.link-adres{
    color: var(--title-text-color);
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.auth-nav .link-adres{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.link-adres:hover {
    color: var(--accent-color);
}